$backgroundColor: #26B6BF;
$innerColor: #20989F;
$padWidth: 50px;
$padHeight: 40px;

* {
    font-family: 'Russo One', sans-serif;
    margin: 0px;
}
body {
    user-select: none;    
}
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $backgroundColor;
}
.inner-container {
    background-color: $innerColor;
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .displayBlock {
            margin: 10px;
            height: 30px;
            width: 150px;
            padding: 10px;
            background-color: lighten(gray, 10%);
            display: flex;
            justify-content: center;
            align-items: center;

        }
        
        .buttonSlider {
            // display: flex;
            width: 60px;
            // justify-content: flex-start;
            // flex-direction: row;
            margin-top: 10px;
            // outline: 1px solid $backgroundColor;
            // padding: 10px;
            height: 50px;
            
            .pwrBtn {
                border-radius: 90%;
                background-image: radial-gradient(
                    red, gray 150%
                );                
                width: 30px;
                height: 30px;
                margin-left: 10px;
            }
            .sliderOut {
                background-color: black;
                // position: relative;
                width: 60px;
                height: 28px;
                border-radius: 35%;
                .sliderIn {
                    border-radius: 100%;    
                    background-color: blue;
                    // outline: 1px solid brown;
                    width: 20px;
                    height: 20px;
                    float: right;
                    margin: 4px 4px;
                }
            }
            .sliderText {
                text-align: center;
            }
        }
    }
    .pad-bank {
        display: inline-block;
        width: $padWidth * 3 + 70px;
        height: $padHeight * 3;

        margin: 5px;
        
        
       .drum-pad {
            width: $padWidth;
            height: $padHeight;
            position: relative;
            float: left;
            cursor: pointer;
            margin: 10px;
            box-sizing: border-box;
            outline: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;            
            font-weight: 100;
            
            
        } 
    }    
}

